// layout.pug
doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/styles.css')
  body
    if usuarioEncontrado
      nav
        ul
          li
            a.userText &#128100; #{usuarioEncontrado.usuario} <!--Muestra el usuario de la sesión-->
          li
            a(href='/') &#127968; Inicio
          li
            a(href='/catalogo') &#128717;&#65039; Catálogo de Productos
          li
            a(href='/carrito') &#x1F6D2; Carrito de Compra (#{carrito.length})
          li
            #{usuarioEncontrado.usuario}
            a(href='/logout') &#128274; Cerrar sesión 

      .container
        block content

    else
      nav
        ul
          li 
            a(href='/login') &#128100; Iniciar sesión / Registrarse
          li
            a(href='/') &#127968; Inicio
          li
            a(href='/catalogo') &#128717;&#65039; Catálogo de Productos
          li
            a(href='/carrito') &#x1F6D2; Carrito de Compra (#{carrito.length})

      .container
        block content
